@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url(../font/7cHpv4kjgoGqM7E_Ass8.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url(../font/7cHqv4kjgoGqM7E3t-4s6Vop.ttf) format('truetype');
}
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 400;
  src: url(../font/dFa6ZfeM_74wlPZtksIFajQ6-A.ttf) format('truetype');
}
