/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * museo-sans:
 *   - http://typekit.com/eulas/00000000000000000000e800
 *   - http://typekit.com/eulas/00000000000000000000e801
 *   - http://typekit.com/eulas/00000000000000000000e7fe
 *   - http://typekit.com/eulas/00000000000000000000e802
 *   - http://typekit.com/eulas/00000000000000000000e803
 *   - http://typekit.com/eulas/00000000000000000000e804
 *   - http://typekit.com/eulas/00000000000000000000e805
 *   - http://typekit.com/eulas/00000000000000000000e806
 *   - http://typekit.com/eulas/00000000000000000000e807
 *   - http://typekit.com/eulas/00000000000000000000e808
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-12-07 05:47:40 UTC"}*/

@import url('../p.typekit.net/p_s_1_k_kvc4kww_ht_tk_f_2003.2004.2005.2006.2007.2008.2009.2010.2011.2012_a_17553676_app_typekit_e_css.css');

@font-face {
font-family:"museo-sans";
src:url('af/635674/00000000000000000000e800/27/l_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_n1_v_3') format("woff2"),url('af/635674/00000000000000000000e800/27/d_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_n1_v_3') format("woff"),url('af/635674/00000000000000000000e800/27/a_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_n1_v_3') format("opentype");
font-display:auto;font-style:normal;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"museo-sans";
src:url('af/47003b/00000000000000000000e801/27/l_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_i1_v_3') format("woff2"),url('af/47003b/00000000000000000000e801/27/d_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_i1_v_3') format("woff"),url('af/47003b/00000000000000000000e801/27/a_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_i1_v_3') format("opentype");
font-display:auto;font-style:italic;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"museo-sans";
src:url('af/620bf8/00000000000000000000e7fe/27/l_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_n3_v_3') format("woff2"),url('af/620bf8/00000000000000000000e7fe/27/d_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_n3_v_3') format("woff"),url('af/620bf8/00000000000000000000e7fe/27/a_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_n3_v_3') format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"museo-sans";
src:url('af/5cca6d/00000000000000000000e802/27/l_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_i3_v_3') format("woff2"),url('af/5cca6d/00000000000000000000e802/27/d_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_i3_v_3') format("woff"),url('af/5cca6d/00000000000000000000e802/27/a_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_i3_v_3') format("opentype");
font-display:auto;font-style:italic;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"museo-sans";
src:url('af/a28b50/00000000000000000000e803/27/l_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_n5_v_3') format("woff2"),url('af/a28b50/00000000000000000000e803/27/d_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_n5_v_3') format("woff"),url('af/a28b50/00000000000000000000e803/27/a_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_n5_v_3') format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"museo-sans";
src:url('af/c2d3de/00000000000000000000e804/27/l_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_i5_v_3') format("woff2"),url('af/c2d3de/00000000000000000000e804/27/d_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_i5_v_3') format("woff"),url('af/c2d3de/00000000000000000000e804/27/a_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_i5_v_3') format("opentype");
font-display:auto;font-style:italic;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"museo-sans";
src:url('af/e3ca36/00000000000000000000e805/27/l_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_n7_v_3') format("woff2"),url('af/e3ca36/00000000000000000000e805/27/d_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_n7_v_3') format("woff"),url('af/e3ca36/00000000000000000000e805/27/a_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_n7_v_3') format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"museo-sans";
src:url('af/2841b6/00000000000000000000e806/27/l_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_i7_v_3') format("woff2"),url('af/2841b6/00000000000000000000e806/27/d_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_i7_v_3') format("woff"),url('af/2841b6/00000000000000000000e806/27/a_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_i7_v_3') format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"museo-sans";
src:url('af/9cf49e/00000000000000000000e807/27/l_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_n9_v_3') format("woff2"),url('af/9cf49e/00000000000000000000e807/27/d_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_n9_v_3') format("woff"),url('af/9cf49e/00000000000000000000e807/27/a_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_n9_v_3') format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"museo-sans";
src:url('af/27c143/00000000000000000000e808/27/l_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_i9_v_3') format("woff2"),url('af/27c143/00000000000000000000e808/27/d_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_i9_v_3') format("woff"),url('af/27c143/00000000000000000000e808/27/a_primer_7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191_fvd_i9_v_3') format("opentype");
font-display:auto;font-style:italic;font-weight:900;font-stretch:normal;
}

.tk-museo-sans { font-family: "museo-sans",sans-serif; }
